body, html {
    background-color: #202124;
    color: aliceblue;
    font-family: sans-serif;
    height: 100vh;
}

#mainText {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#googText {
    font-size: 75px;
    margin: 0;
    margin-bottom: 10px;
}

#googTextAlt {
    font-size: medium;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50vw;
}

#searchBox {
    flex-grow: 1;
    min-width: 300px;
    max-width: 600px;
}

#buttonWrapper {
    position: relative;
}

#cursor {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25%;
    animation: cursorAnim 1s alternate infinite;
}

@keyframes cursorAnim {
    0% {
        transform: scale(1, 1);
        opacity: 0.5;
      }
      100% {
        opacity: 1;
        transform: scale(1.5, 1.5);
      }
    }

#link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}